body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #222;
}

.budget-container {
    z-index: 1;
    width: 360px;
    height: 780px;
    background-color: #34006a;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}


.budget-container .app-title {
    color: white;
    margin-top: 45px;
    margin-left: 20px;
}

.budget-header {
    margin: 10px;
}

.balance {
    padding: 2%;
}

.balance .title {
    color: white;
}

.value {
    font-size: 30px;
    color: white;
}

.budget-header .account {
    display: block;
    width: 310px;
    margin: 35px auto 0;
    line-height: 1.7em;
    text-align: center;
}

.budget-header .account .income,
.chart,
.outcome {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    height: 50px;
}

.budget-header .account .income .title {
    color: #FFF;
    opacity: 0.5;
}

.budget-header .account .income .income-total {
    color: white;
}

.budget-header .account .outcome .title {
    color: #FFF;
    opacity: 0.5;
}

.budget-header .account .outcome .outcome-total {
    color: white;
}

.budget-dashboard {
    display: block;
    width: 360px;
    height: 360px;
    background-color: white;
    margin-top: 35px;
    border-radius: 30px 30px 0 0;
}

.budget-dashboard .dash-title {
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 1.7em;
    margin-left: 20px;
    margin-top: 30px;

}

.budget-dashboard .toggle {
    display: block;
    margin-top: 15px;
    margin-left: 30px;
}

.budget-dashboard .toggle .tab1,
.tab2,
.tab3 {
    display: inline-block;
    cursor: pointer;
    opacity: 0.4;
}

.toggle .tab2,
.tab3 {
    margin-left: 10px;
}

ul {
    list-style: none;
}

.budget-dashboard input {
    /* MAKE INPUT SELECTABLE */

    user-select: auto;
}

.budget-dashboard #expense {
    width: 360px;
    height: 339px;
    position: relative;
}

.budget-dashboard #expense .input {
    position: absolute;
    display: block;
    width: 360px;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.budget-dashboard #expense .input * {
    display: inline-block;
    vertical-align: middle;
}

.active {
    opacity: 1 !important;
}